.hospital__form {
  width: 100%;
}
.data__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}
label {
  font-size: 1.5rem;
}
select {
  width: 10rem;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  outline: none;
  border-bottom: rgb(9, 189, 209) 2px solid;
}
